html,
body,
#root,.page {
  height: 100vh;
}
body {
  overflow: hidden;
}
p {
  margin-bottom: 1em;
}
.page {
  display: flex;
  flex-direction: column;
}
.page-header {
  flex: 0 0 auto;
}
.page-content {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.page-footer {
  flex: 0 0 auto;
}
.w-10 {
  width: 10%;
}
/*.content-xy-center {
  max-width: 500px;
  padding: 15px;
  margin: auto;
}*/
